.header__logo-text {
  font-size: 11px;
  line-height: 1.5;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("/src/fonts/Roboto-Bold.ttf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

body,
html,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: #08020d;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1240px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

h1 {
  font-size: 60px;
  line-height: 90px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
  line-height: 57px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
  }
}
.btn {
  display: block;
  padding: 20px 30px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.header__container {
  display: flex;
}
@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
  }
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo-text {
  margin: 0 90px 0 16px;
  font-size: 11px;
  color: #ffffff;
  text-transform: uppercase;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav-list {
  display: flex;
}
@media (max-width: 768px) {
  .header__nav-list {
    flex-direction: column;
    align-items: flex-start;
    margin: 17px 0 18px;
  }
}
.header__nav-item {
  font-size: 11px;
  padding-right: 24px;
  line-height: 13px;
}
@media (max-width: 768px) {
  .header__nav-item {
    padding-bottom: 3px;
  }
}
.header__nav-item:last-child {
  margin-bottom: 0;
}
.header__nav-link {
  font-size: 11px;
  color: #cacaca;
  text-transform: uppercase;
}
.header__nav-link:hover {
  color: #ffffff;
}
@media (max-width: 768px) {
  .header__nav-link {
    line-height: 13px;
  }
}
.header__search {
  margin-left: auto;
}
.header__input {
  width: 20vw;
  max-width: 248px;
  height: 25px;
  background-color: #3c3b3d;
  border: 0;
  border-radius: 50px;
}
@media (max-width: 768px) {
  .header__input {
    width: calc(100vw - 40px);
    max-width: 378px;
    margin-left: 0;
  }
}
.header__input::placeholder {
  padding: 16px 22px 18px;
  color: #757575;
  text-transform: uppercase;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 750px;
  padding: 200px 0;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .subscribe {
    height: 853px;
    max-height: 853px;
    padding: 200px 20px;
  }
}
@media (max-width: 768px) {
  .subscribe__title {
    margin: 50px 0 0;
  }
}
.subscribe__sub-title {
  margin-bottom: 31px;
}
@media (max-width: 768px) {
  .subscribe__sub-title {
    margin-bottom: 16px;
  }
}
.subscribe__text {
  margin-bottom: 17px;
  text-align: center;
}
.subscribe__form {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 570px;
}
.subscribe__input {
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.5rem;
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
}
.subscribe__input:first-child {
  margin-right: 30px;
}
@media (max-width: 768px) {
  .subscribe__input:first-child {
    margin-right: 0;
  }
}
.subscribe__input::placeholder {
  padding: 16px 22px 18px;
  color: #ffffff;
}
@media (max-width: 768px) {
  .subscribe__input {
    display: block;
    width: 374px;
  }
}
.subscribe__button {
  width: 570px;
  height: 57px;
}
@media (max-width: 768px) {
  .subscribe__button {
    width: 374px;
  }
}

.btn_green {
  background-color: #34c176;
}

.pricing {
  padding-top: 100px;
}
.pricing__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pricing__title {
  margin-bottom: 48px;
}
.pricing__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 615px;
  margin-bottom: 40px;
  padding: 24px 1.5rem 64px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
}
.pricing__item_free {
  width: 366.6px;
  background-image: url("../images/subscribe_1.png");
}
.pricing__item_standart {
  width: 366.6px;
  background-image: url("../images/subscribe_2.png");
}
.pricing__item_premium {
  width: 366.6px;
  background-image: url("../images/subscribe_3.png");
}
@media (max-width: 768px) {
  .pricing__item {
    width: 374px;
    height: 595px;
    margin-top: 0;
    padding-top: 19px;
  }
  .pricing__item:first-child {
    margin-right: 0;
  }
}
.pricing__sub-title {
  margin-bottom: 200px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.pricing__price {
  margin-bottom: 40px;
}
.pricing__value {
  margin-right: 16px;
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 64px;
}
.pricing__currency {
  font-size: 32px;
  line-height: 1em;
  text-transform: uppercase;
}
.pricing__button {
  margin-bottom: 64px;
  width: 318.66px;
  height: 66px;
  border: 2px solid #ffffff;
}
.pricing__text {
  text-align: center;
}
.pricing__footer {
  text-align: center;
}

.btn_transparent {
  background-color: transparent;
}

.news {
  padding-top: 100px;
}
@media (max-width: 768px) {
  .news {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.news__title {
  margin-bottom: 48px;
}
.news__sub-title {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .news__sub-title {
    margin-bottom: 16px;
  }
}
.news__text {
  margin-bottom: 24px;
  color: #cacaca;
}
.news__item {
  display: flex;
}
.news__item:first-child {
  margin-bottom: 65px;
}
.news__item:nth-child(2n) {
  flex-direction: row-reverse;
}
@media (max-width: 768px) {
  .news__item {
    flex-direction: column;
  }
  .news__item:nth-child(2n) {
    flex-direction: column;
  }
}
.news__img {
  margin-right: 50px;
  max-width: 575px;
  max-height: 286px;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .news__img {
    margin-right: 0;
    margin-bottom: 50px;
    max-width: 374px;
    max-height: 186px;
  }
}
.news__author {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  max-width: 187px;
  font-size: 12.8px;
  line-height: 19px;
}
.news__author-name {
  color: #f89202;
  text-transform: uppercase;
}
.news__date {
  color: #cacaca;
}
.news__link {
  padding: 16px 30px;
  width: 135px;
  height: 53px;
  font-size: 12.8px;
  line-height: 19.2px;
  color: #cacaca;
  border: 2px solid #cacaca;
  background-color: transparent;
  vertical-align: middle;
}
.news__content-wrapper {
  display: flex;
  flex-direction: column;
}

.app {
  margin-bottom: 100px;
  padding-top: 100px;
}
.app__title {
  margin-bottom: 48px;
}
.app__container {
  display: flex;
}
@media (max-width: 768px) {
  .app__container {
    flex-direction: column-reverse;
  }
}
.app__text {
  margin-bottom: 16px;
  margin-right: 144px;
  max-width: 600px;
  color: #cacaca;
}
@media (max-width: 768px) {
  .app__text {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
.app__link {
  display: block;
  padding: 16px 40px;
  width: 131px;
  height: 53px;
  font-size: 12.8px;
  line-height: 19px;
  color: #ffffff;
  background: #95390c;
  border-radius: 32px;
  border: none;
  outline: none;
}
@media (max-width: 768px) {
  .app__img {
    margin-bottom: 15px;
    width: 333px;
    height: 278px;
  }
}

.footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.footer__container_top {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: min(40px, 3.3333333333vw);
  padding: 62px 20px 72px;
}
@media (max-width: 1240px) {
  .footer__container_top {
    grid-template-columns: repeat(4, 21.3vw);
  }
}
@media (max-width: 768px) {
  .footer__container_top {
    grid-template-columns: repeat(1, auto);
    row-gap: 30px;
    padding-bottom: 67px;
  }
}
.footer__block {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.footer__title {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
}
@media (max-width: 768px) {
  .footer__title {
    margin-bottom: 15px;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
}
.footer__list_direction-row {
  flex-direction: row;
  column-gap: 24px;
}
.footer__list_bottom {
  flex-direction: row;
  column-gap: 16px;
  padding-bottom: 49px;
}
@media (max-width: 768px) {
  .footer__list_bottom {
    flex-direction: column;
    gap: 16px;
    padding-right: 25px;
    padding-bottom: 43px;
  }
}
.footer__link {
  color: #e0e0e0;
}
.footer__separator {
  margin-bottom: 40px;
  border: 1px solid #cacaca;
}

.artist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 713px;
  padding: 200px 0;
  background-image: url("../images/MortenHarket.png");
  background-position: center;
  background-size: cover;
}
@media (max-width: 768px) {
  .artist {
    height: 730px;
    max-height: 730px;
  }
}
.artist__title {
  margin-top: 50px;
  margin-bottom: 16px;
  text-align: left;
}
@media (max-width: 768px) {
  .artist__title {
    margin-top: 25px;
  }
}
.artist__text {
  margin-bottom: 48px;
}
.artist__btn-wrapper {
  display: flex;
}
@media (max-width: 768px) {
  .artist__btn-wrapper {
    flex-direction: column;
  }
}
.artist__btn {
  position: relative;
  margin-right: 1.5rem;
  width: 200px;
  height: 62px;
  font-size: 12.8px;
}
.artist__btn_purple {
  background-color: #5328a1;
}
.artist__btn_red {
  background-color: #95390c;
}
@media (max-width: 768px) {
  .artist__btn {
    margin-bottom: 1.5rem;
  }
}
.artist__btn-inside-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 12.8px;
}
.artist__btn-img {
  padding-right: 16px;
  height: 20px;
}

.popular-tracks {
  padding-top: 100px;
}
.popular-tracks__title {
  margin-bottom: 48px;
  text-align: left;
}
.popular-tracks__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 25px;
}
@media (max-width: 768px) {
  .popular-tracks__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.popular-tracks__desc {
  display: flex;
  align-items: center;
}
.popular-tracks__track {
  font-weight: 700;
  font-size: 12.8px;
  line-height: 19.2px;
  text-transform: uppercase;
}
.popular-tracks__img {
  margin-right: 15px;
  width: 55px;
  height: 55px;
}
.popular-tracks__artist {
  font-size: 12.8px;
  line-height: 19px;
  color: #e0e0e0;
}
.popular-tracks__time {
  margin-right: 50px;
  margin-left: auto;
  font-size: 12.8px;
  line-height: 19px;
  color: #e0e0e0;
}
@media (max-width: 768px) {
  .popular-tracks__time {
    margin-right: 0;
  }
}

.discography {
  padding-top: 100px;
}
.discography__title {
  margin-bottom: 48px;
  text-align: left;
}
.discography__wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 25px;
}
.discography__item {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}
@media (max-width: 768px) {
  .discography__item {
    max-width: 137px;
  }
}
.discography__img {
  width: 250px;
  height: 250px;
  margin-bottom: 18px;
}
@media (max-width: 768px) {
  .discography__img {
    width: 137px;
    height: 137px;
  }
}
.discography__album {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.similar {
  margin-bottom: 100px;
  padding-top: 100px;
}
.similar__title {
  text-align: left;
  margin-bottom: 48px;
}
.similar__wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 25px;
}
.similar__item {
  display: flex;
  flex-direction: column;
  max-width: 250px;
}
@media (max-width: 768px) {
  .similar__item {
    max-width: 137px;
  }
}
.similar__img {
  width: 250px;
  height: 250px;
  margin-bottom: 17px;
}
@media (max-width: 768px) {
  .similar__img {
    width: 137px;
    height: 137px;
  }
}
.similar__artist {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.similar__text {
  display: block;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
