@import "./variables.scss";
@import "./general.scss";
@import "./header.scss";
@import "./subscribe.scss";
@import "./pricing.scss";
@import "./news.scss";
@import "./mobile-app.scss";
@import "./footer.scss";