@import "./variables.scss";
@import "./general.scss";
@import "./header.scss";
@import "./subscribe.scss";
@import "./pricing.scss";
@import "./news.scss";
@import "./mobile-app.scss";
@import "./footer.scss";
@import "./artist.scss";
@import "./popular-tracks.scss";
@import "./discography.scss";
@import "./similar.scss";