.discography {
  padding-top: 100px;

  &__title {
    margin-bottom: 48px;
    text-align: left;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 25px;
  }
  
  &__item {
    display: flex;
    flex-direction: column;
    max-width: 250px;

    @media (max-width: $mobile-width) {
      max-width: 137px;
    }
  }

  &__img {
    width: 250px;
    height: 250px;
    margin-bottom: 18px;

    @media (max-width: $mobile-width) {
      width: 137px;
      height: 137px;
    }
  }

  &__album {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }
}