.header {
  position: absolute;
  top: 25px;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;

  &__container {
    display: flex;

    @media (max-width: $mobile-width) {
      flex-direction: column;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-text {
    margin: 0 90px 0 16px;
    font-size: 11px;
    color: $white;
    text-transform: uppercase;

    @extend %text-small;
  }

  &__nav {
    display: flex;
    align-items: center;
  }

  &__nav-list {
    display: flex;

    @media (max-width: $mobile-width) {
      flex-direction: column;
      align-items: flex-start;
      margin: 17px 0 18px;
    }
  }

  &__nav-item {
    font-size: 11px;
    padding-right: 24px;
    line-height: 13px;

    @media (max-width: $mobile-width) {
      padding-bottom: 3px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__nav-link {
    font-size: 11px;
    color: $dark-gray;
    text-transform: uppercase;

    &:hover {
      color: $white;
    }

    @media (max-width: $mobile-width) {
      line-height: 13px;
    }
  }

  &__search {
    margin-left: auto;
  }

  &__input {
    width: 20vw;
    max-width: 248px;
    height: 25px;
    background-color: $dark;
    border: 0;
    border-radius: 50px;

    @media (max-width: $mobile-width) {
      width: calc(100vw - 40px);
      max-width: 378px;

      margin-left: 0;
    }

    &::placeholder {
      padding: 16px 22px 18px;
      color: #757575;
      text-transform: uppercase;
    }
  }
}