.news-container {

}

.news {
  padding-top: 100px;
  
  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 48px;
  }

  &__sub-title {
    margin-bottom: 30px;

    @media (max-width: $mobile-width) {
      margin-bottom: 16px;
    }
  }

  &__text {
    margin-bottom: 24px;

    color: $dark-gray;
  }

  &__item {
    display: flex;

    &:first-child {
      margin-bottom: 65px;
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }

    @media (max-width: $mobile-width) {
      flex-direction: column;

      &:nth-child(2n) {
        flex-direction: column;
      }
    }
  }

  &__img {
    margin-right: 50px;

    max-width: 575px;
    max-height: 286px;

    vertical-align: middle;

    @media (max-width: $mobile-width) {
      margin-right: 0;
      margin-bottom: 50px;

      max-width: 374px;
      max-height: 186px;
    }
  }

  &__author {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    max-width: 187px;
    
    font-size: 12.8px;
    line-height: 19px;
  }

  &__author-name {
    color: $orange;
    text-transform: uppercase;
  }

  &__date {
    color: $dark-gray;
  }

  &__link {
    padding: 16px 28px;
    width: 135px;
    height: 53px;
    font-size: 12.8px;
    line-height: 19px;
    color: $dark-gray;
    border: 2px solid $dark-gray;
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
  }
}