.popular-tracks {
  padding-top: 100px;

  &__title {
    margin-bottom: 48px;
    text-align: left;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;

    @media (max-width: $mobile-width) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__desc {
    display: flex;
    align-items: center;
  }

  &__track {
    font-weight: 700;
    font-size: 12.8px;
    line-height: 19.2px;
    text-transform: uppercase;
  }

  &__img {
    margin-right: 15px;
    width: 55px;
    height: 55px;
  }

  &__artist {
    font-size: 12.8px;
    line-height: 19px;
    color: $gray;
  }

  &__time {
    margin-right: 50px;
    margin-left: auto;
    font-size: 12.8px;
    line-height: 19px;
    color: $gray;

    @media (max-width: $mobile-width) {
      margin-right: 0;
    }
  }
}