.pricing {
  padding-top: 100px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 48px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 615px;
    margin-bottom: 40px;
    padding: 24px 1.5rem 64px;

    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 1rem;

    &_free {
      width: 366.6px;

      background-image: url("../images/subscribe_1.png");
    }

    &_standart {
      width: 366.6px;
      
      background-image: url("../images/subscribe_2.png");
    }

    &_premium {
      width: 366.6px;

      background-image: url("../images/subscribe_3.png");
    }

    @media (max-width: $mobile-width) {
      width: 374px;
      height: 595px;
      margin-top: 0;
      padding-top: 19px;

      &:first-child {
        margin-right: 0;
      }
    }
  }

  &__sub-title {
    margin-bottom: 200px;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    
    @media (max-width: $mobile-width) {
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
    }  
  }

  &__price {
    margin-bottom: 40px;
  }

  &__value {
    margin-right: 16px;
    margin-bottom: 40px;
    font-size: 64px;
    line-height: 64px;
  }

  &__currency {
    font-size: 32px;
    line-height: 1em;
    text-transform: uppercase;
  }

  &__button {
    margin-bottom: 64px;
    width: 318.66px;
    height: 66px;
    border: 2px solid $white;
  }

  &__text {
    text-align: center;
  }

  &__footer {
    text-align: center;
  }
}

.btn_transparent {
  background-color: transparent;
}