.similar {
  margin-bottom: 100px;
  padding-top: 100px;

  &__title {
    text-align: left;
    margin-bottom: 48px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 25px;
  }
  
  &__item {
    display: flex;
    flex-direction: column;
    max-width: 250px;

    @media (max-width: $mobile-width) {
      max-width: 137px;
    }
  }

  &__img {
    margin-bottom: 17px;
  }

  &__artist {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
  }

  &__text {
    display: block;
    text-align: center;
  }
}