.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 750px;
  padding: 200px 0;

  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;

  @media (max-width: $mobile-width) {
    height: 853px;
    max-height: 853px;
    padding: 200px 20px;
  }

  &__title {
    margin-top: 50px;
  }

  &__sub-title {
    margin-bottom: 31px;

    @media (max-width: $mobile-width) {
      margin-bottom: 16px;
    }
  }

  &__text {
    margin-bottom: 17px;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 570px;
  }

  &__input {
    min-width: 270px;
    min-height: 50px;
    margin-bottom: 1.5rem;
    
    background-color: transparent;
    border: 2px solid $dark-gray;

    border-radius: 3px;

    &:first-child {
      margin-right: 30px;

      @media (max-width: $mobile-width) {
        margin-right: 0;
      }
    }

    &::placeholder {
      padding: 16px 22px 18px;
      color: $white;
    }

    @media (max-width: $mobile-width) {
      display: block;
      width: 374px;
    }
  }

  &__button {
    width: 570px;
    height: 57px;

    @media (max-width: $mobile-width) {
      width: 374px;
    }
  }
}

.btn_green {
  background-color: $green;
}